body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-face {
    width: 150px;
}

.card {
    width: 800px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    color: #2b2839;
    background: #ddebf8;
    border-bottom: 5px solid #d8cefe;

}

.dotted {
    border: 1px dotted blue;
}

.text-plate {
    padding-top: 150px;
    padding-right: 80px;
}