body {
    text-align: center;

    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hero-section {
    border: 2px solid red;
    margin: 16px 16px 0px 16px;
    background: palegoldenrod;
    background-image: url(images/warehouse_main.jpg);
    background-size: 800px;
    height: 250px;
}

#forgotten-warehouse {
    margin: 0px;
    background: #fdf3da;
    padding: 5px 10px;
    border-radius: 10px;
}

.main-holder {
    margin: 0px 16px;
    border: 2px solid red;
}

.card-holder {
    padding: 20px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: greenyellow;

    /* flex-wrap: wrap; */
    gap: 10px;
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    background: pink;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
    
    
}

.card img {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    border-radius: 50%;
}

.card-heading {
    /* border: 1px dotted black; */
    height: 90px;
}

.card-content {
    height: 50px;
}