button {
    color: #0f1419;
    font-weight: bold;
    border: 1px solid #cfd9de;
    border-radius: 20px;
    background: white;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    
    
}