@font-face {
    src: url("kugile.ttf");
    font-family: "kugile";
    
}

body {
    background: whitesmoke;
    color: whitesmoke;
    font-family: kugile;
    
}

.ad {
    background: #35654d;
    border: 5px solid #A3BC71;
    text-align: center;
}

.cta {
    color: #A3BC71;
    padding: 5px 10px;
    border: 2px solid #A3BC71;
    background: #8F4737;
}