a {
    text-align: center;
    color: white;
    margin: 5px;
    padding: 25px 0;
    background-color: #e5383b;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

a:hover {
    /* background-color: #ba181b;
    font-size: 40px; */
    background-image: url(images/box-face.jpg);
}