body {
    background: skyblue;
    margin: 10px;


    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    /* text-align: center; */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    height: 80px;
    padding: 20px;
}

.header-content,
.logo,
.navbar {
    border: 1px solid black;
}

.navbar-elements {
    display: flex;
    justify-content: space-between;
    /* border:1px solid black; */
    gap: 40px;
    list-style-type: none;

    padding: 0px 20px;

}

.logo {
    height: 80px;
    width: 100px;
}

.cont-hero {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    height: 650px;
}

#hero-text {
    font-family: "Caramel", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 200px;
    border: 1px solid black;
    margin: 0;

}

.cont-left {
    border: 1px solid black;
    padding: 0px 40px;
    width: 550px;
}

.cont-right {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: start;
}

#rice-bowl {
    border: 1px solid red;
    width: 600px;
}

#hero-text-cont {
    border: 1px solid gold;
    /* margin-top: -100px; */
    text-align: center;
}