body {
    background: skyblue;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    /* text-align: center; */
}
/* following the header section */
.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    height: 50px;
    padding: 20px;


}

.header-content,
.logo,
.navbar {
    border: 1px solid black;
}

.navbar-elements {
    display: flex;
    justify-content: space-evenly;
    border:1px solid black;
    gap: 40px;
    list-style-type: none;
    padding: 0px 20px;
}

.logo {
    height: 80px;
    width: 100px;
}

/* following is the hero section */
.cont-hero {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    border: 1px solid black;
    height: 79vh;
}

.cont-left {
    border: 1px solid black;
    padding: 0px 40px;
    width: 550px;
}


#hero-text-cont {
    /* border: 1px solid gold; */
    /* margin-top: -100px; */
    /* text-align: center; */
}
#hero-text {
    font-family: "Caramel", cursive;
    font-style: normal; 
    font-size: 300px;
    font-weight: 300;
    border: 1px solid black;
    padding: 0px 30px;

}


.cont-right {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: start;
}

#rice-bowl {
    border: 1px solid red;
    width: 79vh;
}

<<<<<<< HEAD
=======
#hero-text-cont {
    border: 1px solid gold;
    /* margin-top: -100px; */
    text-align: center;
}

.btn-el {           /* add this*/
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 50px;
    height: 4vh;
    width: 20vh;
    background: #c1121f;
    color: white;
    font-size: 12px;
}
>>>>>>> 1ee82ba307ca5a405fa5f0fce011fe934a79a112
