body{
    background: skyblue;
    margin:0;
}

.header-content{
    display: flex;
    justify-content: space-around;
    height: 120px;
}
.header-content,.logo,.navbar{
    border:1px solid black;
}
.navbar-elements{
    display: flex;
    justify-content: space-around;

}