body {
    color: white;
    background-image: url("images/UFO.jpg");
    background-size: cover;
    margin: 20px;

    text-align: center;

    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250px;
    font-style: normal;
    font-size: 18px;
}

.btn {
    padding: 6px 10px;
    background: white;
    border: none;
    font-family: inherit;
}

.hlgt {
    border-bottom: 3px solid white;
}

.text-cont {
    margin-top: 46px;
    /* border: 2px solid white; */
}

#space-x {
    width: 100px;
    /* border: 2px solid white; */
    padding-left: 20px;
    margin-top: 20px;
    
}