body {
    margin: 0px;
    color: white;
    text-align: center;

    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250px;
    font-style: normal;
    font-size: 18px;


}

.btn {
    padding: 6px 10px;
    background: white;
    border: none;
    font-family: inherit;
    font-weight: bold;
    margin: 20px;
}

.hlgt {
    border-bottom: 3px solid white;
}

.text-cont {
    margin-top: 250px;
    /* border: 2px solid white; */
}

#space-x {
    width: 100px;
    /* border: 2px solid white; */
    padding-left: 20px;
    margin-top: 20px;
}

#hero-cont {
    background-image: url("images/UFO.webp");
    background-size: cover;
}

.term-cnd {
    color: #fee440;
}

#main-text {
text-shadow: 0px 0px 4px black;
}